# OS or Editor specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Composer directory
/vendor/

# Node modules directory
/node_modules/

# Environment files
.env
.env.*.php
.env.php
.env.testing
.env.staging

# Log and debug files
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Public folder
/public/storage

# Laravel 5 & 6 specific files
/storage/*.key

# Laravel 4 specific files
bootstrap/compiled.php
app/storage/

# Cache
storage/framework/cache/*
storage/framework/views/*
storage/logs/*

# Storage keys
storage/oauth-private.key
storage/oauth-public.key

# Miscellaneous files
*.log
*.sql
*.sqlite
*.pyc
*.pyo
*~

# Ignoring Clockwork settings
.clockwork/

# Ignoring deployment environment files
.env.backup
.env.bak
.env.old

# Ignore Box configurator files
.box/
